#Search{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;

}
#write-chat{
  height: 40px; 
    position: relative; 
    margin-top: 25%; 
    background-color: #393838; 
    opacity:
}